.search-container {
    display: flex;
    flex: 1;
    padding-bottom: 30%;
    flex-direction: column;
    position: relative;
}

.top-bar {
    background-color: #8E623A;
    /* marrom */
    display: flex;
    justify-content: center;
    top: 0;
    color: #fff;
}

